extends ../layout

block content

  .small-container

    include ../partials/flash

    if teamspeakName
      .panel.panel-default.panel-lg
        .panel-heading
          h1.panel-title Willkommen zu der Accounterstellung, #{teamspeakName}!
        .panel-body
          | Wir werden nach der Eröffnung deines Accounts automatisch deine TeamSpeak-ID mit diesem verknüpfen. Dies spart dir einen Schritt bei der Bestätigung deines neuen Accounts!

    .panel.panel-default.panel-lg

      .panel-heading
        h1.panel-title Account erstellen

      .panel-body

        if config.flags.registration
          +form(class='js-form')

            .form-group.floating-label
              label(for='username') gamekeller.net/Username
              input.form-control.js-input.js-username(type='text', id='username', name='username', placeholder='Username', autocorrect='off', autocapitalize='off', value=teamspeakName ? teamspeakName : null)

            .form-group.floating-label
              label(for='email') E-Mail-Adresse
              input.form-control.js-input.js-email(type='email', id='email', name='email', placeholder='username@example.com')

            .form-group.floating-label
              label(for='password') Passwort
              input.form-control.js-input.js-password(type='password', id='password', name='password', placeholder='Passwort', data-placeholder='••••••••••••••••••••••••')
              .help-block.fixed
                span 4-50 Zeichen, alles außer Leerzeichen
                .checkbox-inline.hide
                  label
                    input.js-toggle-password(type='checkbox', tabindex='-1')
                    | Passwort anzeigen

            .form-group.floating-label
              label(for='confirmPassword') Passwort wiederholen
              input.form-control.js-input.js-confirm-password(type='password', id='confirmPassword', name='confirmPassword', placeholder='Passwort wiederholen', data-placeholder='••••••••••••••••••••••••')

            .form-group
              button.btn.btn-primary.btn-pull-left(type='submit') Registrieren
              button.btn.btn-link.btn-pull-right(type='reset') Zurücksetzen

        else
          p.
            Registrationen werden zur Zeit nicht angenommen. Bitte versuche es zu einem späteren Zeitpunkt erneut.