extends ../layout

block content

  include ../partials/flash

  .row
    .col-md-12
      .panel.panel-default
        table.table.table-striped.table-hover
          thead
            tr
              th Username
              th Admin
          tbody
            each user in users
              tr
                td
                  a(href=url('./user/#{user._id}'), title=user._id)= user.username
                td= user.admin ? 'Ja' : 'Nein'