extends ../layout

block content

  .small-container

    .panel.panel-default.panel-lg

      .panel-heading
        h3.panel-title Account löschen

      .panel-body

        p Falls du deinen Account nicht länger brauchst oder nicht mehr aktiv bei Gamekeller bist, steht dir frei deinen Account zu löschen.

        .js-delete-form
          +form

            .form-group.floating-label
              label(for='password') Passwort
              input.form-control(type='password', id='password', name='password', placeholder='Passwort', data-placeholder='••••••••••••••••••••••••', required)

            .form-group
              button.btn.btn-danger(type='submit') Account unwiederbringlich löschen
              | &nbsp;
              a.btn.btn-default(href=url('../')) Abbrechen

        .alert.alert-danger.js-delete-warning.hide
          p Du wirst deinen Account nicht wiederherstellen können, solltest du fortfahren.
          p
            button.btn.btn-default(type='button', data-dismiss='alert') Verstanden
            a.btn.btn-link.text-white(href=url('../')) Abbrechen