extends ../layout

block content

  .auth

    .page-header
      h1 Login

    form.form-horizontal(method='POST', role='form')

      input(type='hidden', name='_csrf', value=token)

      .form-group
        label.col-sm-2.control-label(for='username') Username:

        .col-sm-10
          input.form-control(type='text', id='username', name='username', placeholder='Username')

      .form-group
        label.col-sm-2.control-label(for='password') Password:

        .col-sm-10
          input.form-control(type='password', id='password', name='password', placeholder='Password')

      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            label
              input(type='checkbox', id='rememberme', name='rememberme')
              | Remember me

      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') Sign in