extends ../layout

block content

  form.form-horizontal(method='POST', role='form')

    input(type='hidden', name='_csrf', value=token)

    .form-group
      label.col-sm-2.control-label Admin
      .col-sm-10
        p.form-control-static= user.admin

    .form-group
      label.col-sm-2.control-label Username
      .col-sm-10
        p.form-control-static= user.username

    .form-group
      label.col-sm-2.control-label E-Mail
      .col-sm-10
        input.form-control(type='email', name='account[email]', value=user.email)

    .form-group
      label.col-sm-2.control-label Password
      .col-sm-10
        input.form-control.js-password(type='password', name='account[password]', placeholder='•••••••••••••••••••••')

    .form-group.hidden
      label.col-sm-2.control-label Password Confirmation
      .col-sm-10
        input.form-control.js-confirm-password(type='password', name='confirmPassword', placeholder='•••••••••••••••••••••')

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Update