extends ../layout

block content

  .page-header
    h1 Sign Up

  form(method='POST', role='form')

    input(type='hidden', name='_csrf', value=token)

    .form-group
      label.col-sm-2.control-label(for='username') Username:

      .col-sm-10
        input.form-control(type='text', id='username', name='username', placeholder='Username')

    .form-group
      label.col-sm-2.control-label(for='email') E-Mail:

      .col-sm-10
        input.form-control(type='email', id='email', name='email', placeholder='E-Mail address')


    .form-group
      label.col-sm-2.control-label(for='password') Password:

      .col-sm-10
        input.form-control(type='password', id='password', name='password', placeholder='Password')

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Sign in