script.
  !function(g,a,m,e,k,l,r){g.GoogleAnalyticsObject=k,g[k]=g[k]||function(){(g[k].q=g[k].q||[]).push(arguments)},g[k].l=+new Date,l=a.createElement(m),r=a.getElementsByTagName(m)[0],l.src=e,r.parentNode.insertBefore(l,r)}(this,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-51321516-1','gamekeller.net');ga('send','pageview');
script.
  window.nectarninja={onMessage:function(g){g.type=='question'&&setTimeout(function(){document.querySelector('.sentry__textarea').setAttribute('placeholder', 'Dein Text hier...')},0)}};!function(g,k){g.async=1;g.src='https://nectar.ninja/api/v1/gamekeller';k.parentNode.insertBefore(g,k)}(document.createElement('script'), document.getElementsByTagName('script')[0]);