script(nonce=nonce).
  !function(g,a,m,e,k,l,r){g.GoogleAnalyticsObject=k,g[k]=g[k]||function(){(g[k].q=g[k].q||[]).push(arguments)},g[k].l=+new Date,l=a.createElement(m),r=a.getElementsByTagName(m)[0],l.src=e,r.parentNode.insertBefore(l,r)}(this,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-51321516-1','gamekeller.net');ga('send','pageview');