.footer
  ul.list-inline.pull-left
    li
      |ʩ 2014 <span class='logo logo-small'></span> Gamekeller
  ul.list-inline.pull-right
    li
      a(href='https://github.com/gamekeller/next') GitHub Project
    li
      a(href='https://github.com/gamekeller/next/issues') Issues