.footer
  a.gamekeller(href='/')
    span.icon.icon-gamekeller
    | Gamekeller
  ul.links
    li
      a(href='ts3server://gamekeller.net:9987') Teamspeak
    li
      a(href='/privacy') Datenschutz
    li
      a(href='/imprint') Impressum
  .clearfix
  ul.info
    li
      a(href='https://github.com/gamekeller/next/commit/9514f67240502123c84f6b6cfa74305734437e19') rev. 9514f67240
  ul.social
    li
      a(href='https://twitter.com/gamekeller')
        span.icon.icon-twitter
    li
      a(href='https://facebook.com/gamekeller.de')
        span.icon.icon-facebook
    li
      a(href='https://github.com/gamekeller')
        span.icon.icon-github