meta(charset='utf-8')
title= utils.getPageTitle(title)
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png?v=bOvRbYoBQr')
link(rel='icon', type='image/png', href='/favicon-32x32.png?v=bOvRbYoBQr', sizes='32x32')
link(rel='icon', type='image/png', href='/favicon-16x16.png?v=bOvRbYoBQr', sizes='16x16')
link(rel='manifest', href='/manifest.json?v=bOvRbYoBQr')
link(rel='mask-icon', href='/safari-pinned-tab.svg?v=bOvRbYoBQr', color='#ff9900')
link(rel='shortcut icon', href='/favicon.ico?v=bOvRbYoBQr')
meta(name='theme-color', content='#1c1f24')
!= css('css/main.css')
if customCss
  != css('css/pages/' + customCss + '.css')
script(nonce=nonce).
  window.GK={assetHost:'#{config.assetHost ? "https://" + config.assetHost : ""}'};document.documentElement.classList.add('js')
