[class^="icon-"], [class*=" icon-"] {
  font-family: 'gkicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gamekeller:before {
  content: "\e600";
}

.icon-twitter:before {
  content: "\f081";
}

.icon-facebook:before {
  content: "\f082";
}

.icon-github:before {
  content: "\f092";
}