include ../../modules/securityLog

extends ../../layout

block content

  .row
    include _nav

    .col-md-9

      include ../../partials/flash

      .panel.panel-default

        .panel-heading
          h3.panel-title Sicherheitsverlauf

        +securityLog(history)