extends layout

block content
  table.table.table-striped.table-hover
    thead
      tr
        th Username
        th Admin
    tbody
      each user in users
        tr
          td(title=user._id)= user.username
          td= user.admin ? 'Yes' : 'No'