extends layout

block content

  .small-container

    .panel.panel-default.panel-lg

      .panel-heading
        h3.panel-title #{panelTitle || title}

      .panel-body

        +form

          if preamble
            p= preamble

          .form-group
            button.btn.btn-primary.u-btn-inline(type='submit')= buttonText

            if abort
              a.btn.btn-default.u-btn-inline(href=abort.href)= abort.text