extends layout

block content

  .small-container

    .panel.panel-default.panel-lg

      .panel-heading
        h1.page-header Cookies

      .panel-body
        p.
          Damit dieses Internetportal ordnungsgemäß funktioniert, legen wir manchmal kleine Dateien – sogenannte Cookies – auf Ihrem Gerät ab. Das ist bei den meisten großen Websites üblich.

        h3 Was sind Cookies?

        p.
          Ein Cookie ist eine kleine Textdatei, die ein Webportal auf Ihrem Rechner, Tablet-Computer oder Smartphone hinterlässt, wenn Sie es besuchen. So kann sich das Portal bestimmte Eingaben und Einstellungen (z. B. Login, Sprache, Schriftgröße und andere Anzeigepräferenzen) über einen bestimmten Zeitraum „merken“, und Sie brauchen diese nicht bei jedem weiteren Besuch und beim Navigieren im Portal erneut vorzunehmen.

        h3 Wie setzen wir Cookies ein?

        p.
          Auf unseren Seiten verwenden wir Cookies zur Speicherung

        ul
          li Ihres Loginstatus
          li Ihrer Zustimmung zur Nutzung von Cookies auf diesem Portal.

        p.
          Auch Google Analytics verwendet Cookies, sehen Sie hierzu unsere <a href="/privacy">Datenschutzerklärung</a>.
        p.
          Das Akzeptieren von Cookies ist zwar für die Nutzung des Portals nicht unbedingt erforderlich, macht das Surfen aber angenehmer. Sie können Cookies blockieren oder löschen – das kann jedoch einige Funktionen dieses Portals beeinträchtigen.
        p.
          Die mithilfe von Cookies erhobenen Informationen werden nicht dazu genutzt, Sie zu identifizieren, und die Daten unterliegen unserer Kontrolle. Die Cookies dienen keinen anderen Zwecken als den hier genannten.

        h3 Kontrolle über Cookies

        p.
          Sie können Cookies nach Belieben <strong>steuern und/oder löschen</strong>. Wie, erfahren Sie hier:  <a href="http://www.aboutcookies.org/">aboutcookies.org</a>. Sie können alle auf Ihrem Rechner abgelegten Cookies löschen und die meisten Browser so einstellen, dass die Ablage von Cookies verhindert wird. Dann müssen Sie aber die Beeinträchtigung mancher Funktionen in Kauf nehmen.