doctype html
html
  head
    title Gamekeller
    include partials/head
    != css('css/main.css')
    != css('css/pages/home.css')
  body(class= 'page-' + view)

    .masthead
      .inner
        .content.small-container
          h1.title
            span.icon.icon-gamekeller
            span.sr-only Gamekeller
          h2.slogan Dein Zuhause im Internet
          h3.details.
            Wir sind eine multinationale Gaming-Community, die sich auf maximalen Komfort konzentriert.
          .buttons
            a.btn(href='ts3server://gamekeller.net?port=9987') Schau auf unserem Teamspeak vorbei!


    #footer
      .container
        .callout.small-container
          h1 Wir sind noch nicht ganz fertig.
          h4 Während wir noch fleißig an der Website tüfteln, kannst Du uns ja schon mal besuchen kommen. Wir freuen uns auf Dich!

        include partials/footer

    != js('js/main.js')

    include partials/analytics