doctype html
html
  head
    if title === 'Gamekeller'
      title Gamekeller
    else
      title #{title} | Gamekeller
    != css('css/main.css')
  body(class= 'page-' + view)

    include partials/nav

    .container
      include partials/flash

      block content

      include partials/footer

    != js('js/main.js')