include mixins/form
include mixins/timestamp
include mixins/markdownEditor
include mixins/nav
include mixins/profileCard

doctype html
html(lang='de', prefix='og: http://ogp.me/ns#')
  head
    include partials/head
    block head
  body
    include partials/nav
    include partials/accountProgress

    block content-body
      #wrapper
        .container
          block content

    include partials/footer

    != js('js/main.js')
    if customJs
      != js('js/pages/' + customJs + '.js')
    block footer

    include partials/analytics