doctype html
html
  head
    if title === 'Gamekeller'
      title Gamekeller
    else
      title #{title} | Gamekeller
    include partials/head
    != css('css/main.css')
  body(class= 'page-' + view)

    #wrapper
      include partials/nav

      #content-wrapper
        if special
          .container
            block content
        else
          #content.container
            include partials/flash

            block content

    #footer
      .container
        include partials/footer

    != js('js/main.js')

    include partials/analytics