doctype html
html
  head
    if title === 'Gamekeller'
      title Gamekeller
    else
      title #{title} | Gamekeller
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
    != css('css/main.css')
  body(class= 'page-' + view)

    include partials/nav

    .container
      include partials/flash

      block content

      include partials/footer

    != js('js/main.js')