include mixins/form
include mixins/timestamp
include mixins/markdownEditor
include mixins/nav
include mixins/profileCard

doctype html
html(lang='de', prefix='og: http://ogp.me/ns#')
  head
    include partials/head
    block head
  body(class=bodyClass || null)

    #wrapper
      include partials/nav

      include partials/accountProgress

      block content-body
        #content-wrapper
          #content.container
            block content

    #footer
      .container
        include partials/footer

    != js('js/main.js')
    if customJs
      != js('js/pages/' + customJs + '.js')
    block footer

    include partials/analytics