include mixins/form
include mixins/timestamp
include mixins/markdownEditor
include mixins/nav
include mixins/profileCard
include mixins/xpBar

doctype html
html(lang='de', prefix='og: http://ogp.me/ns#')
  head
    include partials/head
    block head
  body
    include partials/flash
    include partials/accountProgress

    block content-body
      #wrapper
        include partials/nav

        .container
          block content

    include partials/footer

    != js('js/main.js')
    if customJs
      != js('js/pages/' + customJs + '.js')
    block footer

    include partials/analytics