mixin content(member)
  if member
    .col-md-3
      +profileCard(member)(link=true)

extends layout

block content

  include partials/flash

  h1 Mitglieder

  - var i = 0

  while i < members.length
    .member-row.row
      +content(members[i])
      +content(members[i + 1])
      +content(members[i + 2])
      +content(members[i + 3])
    - i += 4