extends ../layout

block content

  include ../partials/flash

  .row
    .col-md-12
      .panel.panel-default
        table.table.table-striped.table-hover.table-bordered.js-tablesort
          thead
            tr
              th Name
              th Mitglieder
          tbody
            each group in groups
              tr
                td
                  a(href=url(`./${group.vanity}`))= group.name
                td(data-sort=group.members.length)= group.members.length