@font-face {
  font-family: 'gkicons';
  src: url("$$ asset_path('fonts/gkicons.woff2') $$") format('woff2'),
       url("$$ asset_path('fonts/gkicons.woff') $$") format('woff');
  font-weight: normal;
  font-style: normal;
}

#wrapper {
  background-image: url("$$ asset_path('img/bg.svg') $$");
}