body {
  background-color: @brand-darkest;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

.u-mb {
  margin-bottom: 20px;
}

.u-vam {
  vertical-align: middle;
}

.u-fvc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.u-btn-inline {
  margin-right: 6px;
}

.u-btn-inline:last-child {
  margin-right: 0;
}

#wrapper {
  padding: 20px 0 70px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.header-anchor {
  float: left;
  margin-left: -22px;
  padding-right: 6px;
  line-height: 1;

  &-heading:hover &-icon {
    visibility: visible;
  }

  h1&-heading & {
    line-height: 0.85;
  }

  h4&-heading & {
    line-height: 1.2;
  }

  h6&-heading & {
    margin-top: -2px;
  }

  &-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    visibility: hidden;
  }

  &:focus &-icon,
  &:active &-icon {
    visibility: visible;
  }

  &-target {
    position: relative;
    top: -@navbar-height;
    display: block;
    pointer-events: none;
  }
}

.panel-lg {

  .panel-heading {
    padding: 30px 40px 0;
  }

  .panel-body {
    padding: 0 40px 30px;

    &:first-child {
      padding-top: 30px;
    }

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.form-control.copy-field {
  background-color: transparent;
  cursor: copy;
  transition: none;
}

.form-group:last-child {
  margin-bottom: 0;
}

.help {
  cursor: help;
}

.btn-inline {
  position: relative;
  top: -1px;
  margin: 0 4px;
}

.visually-disabled {
  cursor: not-allowed;
  opacity: .65;
}

.small-container {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

.help-block.fixed {
  .checkbox-inline {
    display: block;
    margin-top: 5px;

    label {
      font-weight: 400;
      cursor: pointer;
    }
  }

  @media (min-width: @screen-sm-min) {
    .checkbox-inline {
      float: right;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.help-block ul {
  padding-left: 18px;
}

.mini-avatar {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: -2px 2px 0 0;
}

.navbar {
  border: none;
}

.navbar-brand {
  font-size: 20px;
  color: @brand-primary;
}

@media (max-width: @grid-float-breakpoint) {
  body {
    padding-top: @navbar-height;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: @zindex-navbar;
  }
}

@media (min-width: @grid-float-breakpoint) {
  .navbar {
    background: none;
  }

  .navbar-brand {
    padding-right: 10px;
  }
}

.navbar-inverse .navbar-brand {
  color: @brand-primary;
}

.navbar-nav {
  @media (min-width: @grid-float-breakpoint) {
    &.navbar-right {
      > li {
        > a,
        .btn-link {
          padding: @navbar-padding-vertical 8px;
        }
      }
    }

    &:last-child {
      padding-right: 5px;
    }

    > .active {
      > a,
      .btn-link {
        box-shadow: inset 0 -2px @brand-primary;
        // position: relative;
        // overflow: hidden;

        // &::after {
        //   content: '';
        //   position: absolute;
        //   bottom: -4px;
        //   left: 50%;
        //   margin-left: -4px;
        //   width: 8px;
        //   height: 8px;
        //   transform: rotate(45deg);
        //   background-color: @brand-primary;
        // }
      }
    }
  }

  .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
  }
}

.navbar-inverse .navbar-collapse {
  background-color: @brand-darkest;
  border-radius: 4px;
  // border-radius: 4px 4px 0 0;
  // border-bottom: 2px solid @brand-primary;
  .tile-box-shadow();
}

.small-pulled-right {
  display: block;
  font-weight: 400;
  line-height: 26px;
  font-size: 12px;

  @media (min-width: @screen-xs-min) {
    float: right;
  }
}

@media (max-width: @screen-xs-min) {
  .btn + .btn {
    margin-top: 15px;
  }
}

.btn-pull-left,
.btn-pull-right {
  display: block;
  width: 100%;
}

@media (min-width: @screen-xs-min) {
  .btn-pull-left,
  .btn-pull-right {
    width: auto;
  }

  .btn-pull-left {
    float: left;
  }

  .btn-pull-right {
    float: right;
  }
}

.page-header {
  margin-top: 0;

  h1 {
    margin-top: 0;
  }
}

.form-control-group {
  position: relative;

  &.has-right-icon {
    .form-control {
      padding-right: 38px;
      text-overflow: ellipsis;
    }
  }
}

.form-control-overlay {
  position: absolute;
  bottom: 0;

  &.is-right {
    right: 0;
  }
}

.panel-title-right-btn {
  padding: 0 4px 0 0;
}

@media (max-width: @screen-md-min) {
  .column + .column {
    margin-top: 20px;
  }

  .btn-title:after {
    content: ' ' attr(title);
  }

  .reddit-title {
    display: block;
    margin: 4px 0;
    font-size: 16px;
  }
}

@media (min-width: @screen-md-min) {
  .panel-title-right-btn {
    padding: 0;
    vertical-align: top;
  }

  .sticky-sidebar > .list-group:last-child {
    margin-bottom: 0;
  }

  .sticky-sidebar {
    position: static;
    position: sticky;
    top: 70px;
  }

  .signup-row {
    display: flex;
    align-items: center;
  }

  .signup-copy {
    margin-bottom: 0;
  }
}

.img-flair {
  margin-top: -3px;
}

.img-pixelated {
  image-rendering: pixelated;
}

.img-glow {
  box-shadow: 0 0 0 1px @brand-primary, 0 0 15px @brand-primary;
  border-radius: 3px;
}

.member-row:not(:last-child) {
  margin-bottom: 40px;
}

th[role=columnheader] {
  cursor: pointer;

  &::selection {
    background: transparent;
  }

  &::after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
  }

  &:hover::after,
  &[aria-sort]:hover::after {
    visibility: visible;
    opacity: 1;
  }

  &[aria-sort]::after {
    visibility: visible;
    opacity: 0.4;
  }

  &[aria-sort=ascending]::after {
    border-bottom: none;
    border-width: 4px 4px 0;
  }
}

.panel-error-status {
  position: relative;
  font-size: 14px;
  font-weight: 400;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: transparent transparent @brand-danger transparent;
  }
}

.admin-readonly {
  padding: 0;
  width: 100%;
  border: 0;
  background: none;
  font-family: @font-family-monospace;
}

.signup {
  margin-bottom: 60px;

  hr {
    margin: 30px auto;
    width: 50%;
  }

  h3, h4 {
    margin-bottom: 6px;
    line-height: inherit;
  }

  &-copy {
    margin-bottom: 50px;
    text-align: center;
  }

  .flash {
    margin-bottom: 20px;
  }
}

.usercard {
  display: flex;
  margin: 80px 0 20px;

  &-avatar {
    margin-right: 12px;
    width: 64px;
    height: 64px;

    &-image {
      width: 100%;
      .tile-box-shadow();
      border-radius: 3px;
    }

    // &-progress {
    //   margin: -16px auto 0;
    //   height: 32px;
    // }

    // &-rank {
    //   width: 32px;
    //   height: 32px;
    //   image-rendering: pixelated;
    // }
  }

  &-name {
    margin: 0 0 4px;
    line-height: 1;
  }

  &-body {
    display: flex;
    align-items: center;
    flex: 1;
  }

  // background-color: fade(@brand-darkest, 50%);
  // box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
  // // box-shadow: 0 0 0 2px #f90, 0 0 20px #f90;
  // border-radius: 3px;

  &-current-rank {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);

    &-image {
      margin-right: 4px;
      vertical-align: top;
    }
  }

  &-next-rank {
    margin-left: auto;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);

    &-desc {
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
    }

    &-image {
      margin-right: 4px;
      width: 16px;
      height: 16px;
      vertical-align: top;
      opacity: 0.8;
    }

    &-req {
      margin: 3px 0 0;
      font-size: 12px;
      text-align: center;
    }
  }
}

.dl-small {
  dt {
    width: 80px;
    text-align: left;
  }

  dd {
    margin-left: 100px;
  }
}

.form-dark .form-group.form-group-inline {
  margin: 0;
}

.form-group-inline {
  display: flex;
  align-items: baseline;
}

.form-group-inline > label {
  padding: 10px;
  min-width: 50px;
}

.privacy {

  &-master-list {
    font-size: @font-size-h3;
  }

  &-text {
    font-size: @font-size-base;
  }

  .text-link {
    text-decoration: underline;
  }
}