body {
  background-color: #1c1f24;
}

b,
strong,
label {
  font-weight: 500;
}

#wrapper {
  padding-top: 40px;
  background-color: #5d1402;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

#content-wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
}

#content {
  background-color: #fafafa;

  &.container {
    padding-top: 20px;
  }
}

.small-container {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 40px;
}

.form-control-prefix {
  position: absolute;
  top: 0;
  bottom: 0;
  left: (@grid-gutter-width / 2);
  padding: (@padding-base-vertical + 1) (@padding-base-horizontal + 1);
  color: @input-color-placeholder;
  .user-select(none);
}

.page-signup #username {
  padding-left: 69px;
}

.navbar {
  border: none;
  background-color: rgba(0, 0, 0, .75);

  .avatar {
    width: 20px;
    height: 20px;
    margin: -2px 2px 0 0;
    border-radius: 3px;
  }
}

.navbar-nav > li > a,
.navbar-brand {
  .transition(color .15s ease);
}

.navbar-brand {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: @brand-primary;
}

.navbar-inverse .navbar-brand {
  color: @brand-primary;
}

.page-header {
  margin-top: 0;

  h1 {
    margin-top: 0;
  }
}