// Simplex 3.1.1
// Bootswatch
// -----------------------------------------------------

.btn-shadow(@color) {
  //#gradient > .vertical-three-colors(lighten(@color, 3%), @color, 6%, darken(@color, 3%));
  background-color: @color;
  border: 1px solid darken(@color, 8%);

  &:hover {
    border-color: darken(@color, 12%);
    .box-shadow(0 1px 1px rgba(0, 0, 0, .2));
  }
}

// Navbar =====================================================================

.dropdown-menu {
  padding: 0;
  overflow: hidden;
  border-color: @gray-lighter;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .box-shadow(0 6px 12px rgba(0, 0, 0, .05));

  @media (min-width: @screen-sm-min) {
    max-width: 300px;

    > li:hover + .divider + li > a,
    .divider + li > a:hover,
    .divider + li > a:focus {
      border-top-color: @brand-primary;
    }
  }

  > li {

    &:first-child > a {
      border-top: 1px solid @brand-primary;
    }

    > a {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 8px 20px;
      font-weight: 300;
    }
  }

  .divider {
    margin: 0;
    height: 0;

    + li > a {
      border-top: 1px solid @gray-lighter;
    }
  }

  > .active + .divider + li > a,
  .divider + .active > a {
    border-top-color: @brand-primary;
  }
}

.navbar .dropdown-menu {
  background-color: #2b2b2b;

  > li {
    &:first-child > a { border-top: 0; }
  }

  .divider + li > a { border-top-color: #3c3c3c; }

  a {
    color: #fff;
  }
}

// Buttons ====================================================================

.btn {
  font-family: @headings-font-family;
}

.btn-default,
.btn-default:hover {
  .btn-shadow(@btn-default-bg);
}

.btn-primary,
.btn-primary:hover {
  .btn-shadow(@btn-primary-bg);
}

.btn-success,
.btn-success:hover {
  .btn-shadow(@btn-success-bg);
}

.btn-info,
.btn-info:hover {
  .btn-shadow(@btn-info-bg);
}

.btn-warning,
.btn-warning:hover {
  .btn-shadow(@btn-warning-bg);
}

.btn-danger,
.btn-danger:hover {
  .btn-shadow(@btn-danger-bg);
}

// Typography =================================================================

body {
  font-weight: 300;
}

// Tables =====================================================================

th {
  color: @headings-color;
}

// Forms ======================================================================

legend {
  color: @headings-color;
}

.form-control {
  &,
  &:focus {
    .box-shadow(none);
  }
}

.has-warning {
  .help-block,
  .control-label {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-danger;
  }
}

.has-error {
  .help-block,
  .control-label {
    color: @brand-primary;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-primary;
  }
}

.has-success {
  .help-block,
  .control-label {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-success;
  }
}

// Navs =======================================================================

.pager {
  a {
    color: @headings-color;
  }

  a:hover,
  .active > a, {
    border-color: @brand-primary;
    color: #fff;
  }

  .disabled > a {
    border-color: @pager-border;
  }
}

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================